@font-face {
  font-family: Fonts;
  src: url(./sf-pro-icons_light.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
#main {
  background-image: url("https://www.apple.com/v/home/ci/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: "SF Pro Text,SF Pro Icons", Helvetica Neue, Helvetica, Arial,
    sans-serif;
}
#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  width: 100%;
  height: 55px;
  background-color: rgb(20, 20, 20);
}

#nav a {
  color: white;
  font-family: Fonts;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
}

#box {
  text-align: center;
  color: white;
  margin-top: 40px;
}

#box h1 {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff6a00, #ffb347); /* orange gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#box h2 {
  font-size:40px;
  font-weight: bold;
  background: linear-gradient(90deg, #ff6a00, #ffb347); /* orange gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}


#box button {
  background-color: royalblue;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  color: white;
  border-radius: 50px;
  margin: 18px 10px;
  transition: all 0.2s ease-int;
}

#box button:hover {
  background-color: transparent;
  border: 2px solid royalblue;
  cursor: pointer;
  color: white;
}
