*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html,body{
  height:100%;
  width:100%;
}

main{
  height:100%;
  width:100%;
  display:grid;
  gap:10px;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:70px 1fr 0.5fr 0.5fr;

  grid-template-areas:"header header header"
                       "section section section"
                       "div-left top div-right"
                       "div-left bottom div-right";
}

header{
  background: rgb(211, 85, 110);
  grid-area:header;
}

section{
  background-color: brown;
  grid-area: section;
}

#div-left{
  background-color:black;
  grid-area:div-left;
}

#div-right{
  background-color:black;
  grid-area:div-right;
}

#top{
  background-color:black;
  grid-area:top;
}

#bottom{
  background-color:rgb(185, 30, 30);
  grid-area:bottom;
}