* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: rgb(23, 23, 23);
}

@mixin center($gap: 0) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin button() {
  width: fit-content;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 0.5rem;
}

section {
  max-width: 2000px;
}
.main {
  width: 100%;
  @include center(0rem);
  align-items: center;

  .view1 {
    width: 100%;
    @include center(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: rgb(42, 42, 42);
      border-radius: 0.7rem;
      padding: 1.2rem;
      @include center(2rem);

      .text {
        @include center(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.5rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.5rem;
          line-height: 1.5;
          color: grey;
        }

        button {
          @include button();
        }
      }
    }
  }

  .view2 {
    width: 100%;
    @include center(1.5rem);
    padding: 1rem;

    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        @include center(0.2rem);

        small {
          font-size: 1rem;
        }

        h1 {
          font-weight: 400;
          font-size: 2.2rem;
        }
      }
    }
  }

  .view3 {
    width: 100%;
    @include center(1rem);
    padding: 1rem;
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: rgb(42, 42, 42);
      border-radius: 0.7rem;
      padding: 1.8rem;
      @include center(4rem);

      .text {
        @include center(0.7rem);

        h1 {
          font-weight: 200;
          font-size: 2.2rem;
          text-transform: uppercase;
        }

        p {
          font-weight: 100;
          font-size: 1.2rem;
          line-height: 1.5;
          color: grey;
        }
      }
    }
  }

  .team {
    font-size: 2rem;
    font-weight: 300;
    align-items: start;
  }

  .view4 {
    width: 100%;
    @include center(1rem);
    padding: 0.5rem 1rem;

    .card {
      width: 100%;
      background-image: url(./img4.jpg);
      background-size: cover;
      background-position: center;
      aspect-ratio: 1/1;
      border-radius: 0.8rem;
      @include center(0);
      justify-content: space-between;
      padding: 1rem;

      .top {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
      }

      .icon,
      .bottom {
        background-color: rgba(187, 187, 187, 0.431);
        backdrop-filter: blur(5px);
        border: 1px solid white;
        padding: 0.5rem;
        border-radius: 0.7rem;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        padding: 1rem 0.5rem;

        p {
          font-size: 1.2rem;
          text-transform: uppercase;
        }
        p:first-of-type {
          font-size: 1.4rem;
        }
      }

      .icon {
        width: fit-content;
        border-radius: 50%;
      }
    }

    .card-2 {
      background-image: url(./img5.jpg);
    }
    .card-3 {
      background-image: url(./img6.jpg);
    }
  }
  .view5 {
    .bottom-v5 {
      padding: 1.5rem;
      gap:3.5rem;

      h1 {
        font-size: 2.8rem;
        font-weight: 300;
      }

      .button{

        button{
          @include button();
        }
      }
    }
  }

  .view6{
    width:100%;
    padding:1rem;
    text-transform: uppercase;

    .box{
      background-color: #cebd63;
      padding:2rem;
      border-radius:0.7rem;
      color:black;
      @include center(1.2rem);

      h1{
        font-size: 3em;
        font-weight:350;
      }

      button{
        background-color:black;
        color:white;
        padding:1.2rem 6rem;
        border:none;
        outline: none;
        border-radius:0.7rem;
        font-weight: 400;
        font-size:0.9rem;
        margin:0.4rem;
        text-transform: uppercase;
      }


    }
  }

  .view7{
   display:grid;
   gap:1rem;
   padding:1rem;
   width:100%;
    
   .top1,
   .middle1,
   .bottom1{
    width:100%;
    background-color:rgb(42, 42, 42);
    padding:2rem;
    @include center(0);
    border-radius: 0.7rem;
      
    h1{
      font-weight: 300;
      margin-bottom: 4rem;
    }
    
    .top{
      display:flex;
      gap:1rem;

      .icon{
        font-size:1.2rem;
        width:fit-content;
        background-color: rgba(255, 255, 255, .05);
        backdrop-filter: blur(5px);
        border:1px solid rgba(255, 255, 255, .15);
        border-radius: 50%;
        padding:0.5rem 0.6rem;
      }
    }
   }

   .middle1{
    gap:2.6rem;

     .first{
      @include center(1.4rem);

      h2{
        font-weight: 400;
        font-size: 1.4rem;
      }

      p{
        opacity:0.5;
      }

      button{
        @include button();
        background-color: #cebd63;
        color: black;
        padding:1.2rem 1.8rem;
      }
     }
   }

   .bottom1{
    text-align: center;
    letter-spacing: 1px;
    padding:1.6rem 1rem;
    
    p{
      opacity: 0.5;
      font-size: 0.9rem;
    }

    h3{
      font-weight: 500;
      font-size: 1.2rem;
      margin-top:1rem;
    }
   }
  }
}

@media (min-width: 900px) {
  .main {
    .view1 {
      flex-direction: row;
      padding: 1rem 2rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;

          h1 {
            font-size: 3.5rem;
          }

          p {
            width: 60%;
            font-size: 1rem;
          }
        }
      }
    }

    .view2 {
      flex-direction: row;
      padding: 1rem 2rem;

      .top,
      .bottom {
        .element {
          small {
            font-size: 1.5rem;
          }

          H1 {
            font-weight: 400;
            font-size: 3.5rem;
          }
        }
      }
    }
    .view3 {
      width: 100%;
      flex-direction: row-reverse;
      padding: 1rem;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 3.6rem;

        .text h1 {
          width: 100%;
          font-weight: 400;
          font-size: 2.7rem;
        }

        .paragraphs {
          display: flex;
          gap: 1.2rem;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }
    .view3-2 {
      flex-direction: row;
    }

    .team {
      font-size: 2.8rem;
    }

    .view4 {
      flex-direction: row;
      padding: 1rem;
    }

    .view5{
      .botton-v5{
        padding:5rem;
        gap:4rem;

        h1{
          font-size:5rem;
          font-weight: 400;
        }

      }
    }

    .view6{
      padding:1rem;

      .box{
        padding:4rem;
        
        h1{
          font-size: 4rem;
        }

        .text3{
          display:grid;
          grid-template-columns:1fr auto;
          align-items: end;
          gap:10rem;

          button{
            padding:1rem 2rem;
            font-size: 1rem;
          }
        }
      }
    }

    .view7{
      grid-template-columns:1fr 4fr;
      grid-template-rows:4fr 1fr;
      grid-template-areas:"top1  middle1"
                           "top1 bottom1";

      .top1{
        grid-area:top1;
        @include center(3rem);
        justify-content: space-between;
      }

      .middle1{
        padding:3rem 4rem;
        grid-area:middle1;
        display:grid;
        grid-column-gap:2rem;
        grid-template-columns:1fr 1fr 1fr;

        .first{
          gap:2rem;
        }
      }
      .bottom1{
        padding:1rem 2rem;
        grid-area:bottom1;
        display: flex;
        flex-direction: row;
        gap:2rem;
        align-items: center;
        justify-content:space-between;

        p{
          font-size:1rem;
        }

        h3{
          margin-top:0;
          font-size:1.4rem;
        }
      }
    }
  }
}
