*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width:100%;
  font-family:Arial, Helvetica, sans-serif;
}
.grid-container{
  display:grid;
  grid-template-areas:
    "header"
    "about"
    "expertisse"
    "services"
    "achievmnet"
    "testimonial"
    "contact"
    "footer";
}

.header{
  grid-area:header;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height:8vh;
  width:100%;
}

.header img{
  height:35px;
}
.links{
  display:flex;
  gap:3rem;
}

.header a{
  text-decoration: none;
  color:black;
  font-size:1rem;
  font-weight: 400;
}

.header .buttons{
  display:flex;
  gap:1rem;
}

button{
  padding:0.7rem 1.2rem;
  border:2px solid rgb(37, 87, 205);
  border-radius:25px;
  cursor:pointer;
  font-size:14px;
}
.header .btn-2{
  background-color:white;
  color:rgb(37, 87, 205);
  transition: all 0.3s ease;
}
.btn-2:hover{
  background-color:rgb(37, 87, 205);
  color:white;
}

.header .btn-1{
  background-color:rgb(37, 87, 205);
  color:white;
}

.btn-1:hover{
  background-color:white;
  color:rgb(37, 87, 205);
}

.about, .expertisse, .services, .achievmnet, .testimonial, .contact, .footer{
  height:100vh;
  width:100%;
  border:1px solid black;
}

.about-header{
  max-width:1100px;
  margin:auto;
}

.about-text{
  margin-bottom:2rem;
}

.about-text h1{
  font-size:2.2rem;
  font-weight: 700;
  margin-bottom:0.8rem;
}
.about-text p{
  max-width:500px;
  color:gray;
  font-size:1rem;
}

.about-buttons{
  margin-top:20px;
}

.btn{
  padding: 10px 20px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.primary{
  background-color: rgb(37, 87, 205);
  color: white;
}

.outline{
  border: 2px solid rgb(37, 87, 205);
  color: rgb(37, 87, 205);
}

.about-image img{
  width:100%;
  height:500px;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.about-stats-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.stat {
  flex:1;
  background: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.stat strong {
  font-size: 2rem;
  color: #0077cc;
}

.stat span {
  display: block;
  margin-top: 0.5rem;
  color: #555;
}














.about{
  grid-area:about;
  padding:2rem;
  background-color: #f4f1f1;
}

.expertisse{
  grid-area:expertisse;
}

.services{
  grid-area:services;
}

.achievmnet{
  grid-area:achievmnet;
}

.testimonial{
  grid-area:testimonial;
}

.contact{
  grid-area:contact;
}

.footer{
  grid-area:footer;
}